.select {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 6px 12px;
  min-width: 190px;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  border-style: hidden;
  color: #fafafa;
  background-color: transparent;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.025),
    100px 100px 80px rgba(0, 0, 0, 0.05);
}

.option {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
