html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.Weather__container {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 0.8rem;
  background: transparent;
}

.Weather__container--dark {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 0.8rem;
  background: #333;
}

.Weather__current {
  padding: 0 1rem 1.5rem;
}

.Weather__current--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Weather__current--location-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}
